{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title has-text-centered is-3">{{.Title}}</h1>
            <hr>
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-5by3">
                        <img src="{{.Params.image}}">
                    </figure>
                </div>
                <div class="column">
                    {{ partial "widgets/CI_Projet" . }}
                </div>
            </div>
            <hr>
        </div>
        <div class="content">
            {{.Content}}
        </div>
    </div>
</div>
{{ end }}