<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/images/competences/Certifications/Pix_Icon.png" alt="logo pix">
                </figure>
            </div>
            <div class="media-content">
                <a href="https://app.pix.fr/verification-certificat" target="_blank" rel="noopener noreferrer"><p class="title is-4">Certification PIX ⤴</p></a>
                <p class="subtitle is-6">Pix</p>
            </div>
        </div>
        
        <div class="content">
            <p>Émise le juin 2022 · Sans date d'expiration</p>
            <p>Identifiant de la certification P-XXWGY228</p>
        </div>
    </div>
</div>
