<nav class="level">
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Scrum</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="title">AGILE</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Kanban</p>
        </div>
    </div>
    
</nav>

<hr>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/poing.png" alt="">
            </figure>
            <br>
            <p class="heading">Autonomie</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/engrenages.png" alt="">
            </figure>
            <br>
            <p class="heading">Capacité d'adaptation</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/loupe.png" alt="">
            </figure>
            <br>
            <p class="heading">Curiosité</p>
        </div>
    </div>
</nav>
