<nav class="level">
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Scrum</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="title">AGILE</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Kanban</p>
        </div>
    </div>
    
</nav>

<hr>

<p class="subtitle is-3">Qualités</p>
<ul class="is-centered">
    <li class="is-centered">Autonomie</li>
    <li>Capacité d'adaptation</li>
    <li>Curiosité</li>
</ul>
