<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/VSCode_icon.png" alt="">
            </figure>
            <br>
            <p class="heading">VSCode</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/eclipse_Icon.svg" alt="">
            </figure>
            <br>
            <p class="heading">Eclipse</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/PyCharm_Icon.png" alt="">
            </figure>
            <br>
            <p class="heading">PyCharm</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/PhpStorm_Icon.png" alt="">
            </figure>
            <br>
            <p class="heading">PhpStorm</p>
        </div>
    </div>
    
</nav>