<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/PyCharm_Icon.png" alt="pycharm-icon">
            </figure>
            <br>
            <p class="heading">PyCharm</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/phpstorm-icon.svg" alt="phpstorm-icon">
            </figure>
            <br>
            <p class="heading">PhpStorm</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/webstorm-icon.svg" alt="webstorm-icon">
            </figure>
            <br>
            <p class="heading">WebStorm</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/intellij-icon.svg" alt="intellij-icon">
            </figure>
            <br>
            <p class="heading">IntelliJ IDEA</p>
        </div>
    </div>
</nav>


<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/VSCode_icon.png" alt="">
            </figure>
            <br>
            <p class="heading">VSCode</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/android-studio-icon.svg" alt="android-studio-icon">
            </figure>
            <br>
            <p class="heading">Android Studio</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/eclipse_Icon.svg" alt="">
            </figure>
            <br>
            <p class="heading">Eclipse</p>
        </div>
    </div>
</nav>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/GitHub_icon.png" alt="github-icon">
            </figure>
            <br>
            <p class="heading">GitHub</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/IDE/gitlab-icon.svg" alt="gitlab-icon">
            </figure>
            <br>
            <p class="heading">GitLab</p>
        </div>
    </div>
</nav>