<h3 class="title">Langages de programmation :</h3>

<div class="allSkills compPage">
    <div class="skill-box">
        <div class="skills html">HTML - 85%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills css">CSS - 80%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills js">JavaScript - 25%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills sql">SQL - 70%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills java">Java - 60%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills python">Python - 55%</div>
    </div>
    
</div>