{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title is-size-1-tablet is-family-title has-text-centered is-vcentered">404 - Page not
                found</h1>
            <div class="columns is-centered">
                <div class="column">
                    <img class="column" src="/images/error404.svg">
                </div>
                <div id="home-flex" class="column">
                    <a class="linkButtons" href="/en">
                        <button class="allButtons animHoverbutton">sss</button>
                    </a>
                    <a class="linkButtons" href="/projects">
                        <button class="allButtons animHoverbutton">Projets</button>
                    </a>
                    <a class="linkButtons" href="en/#home-part5">
                        <button class="allButtons animHoverbutton">En savoir plus</button>
                    </a>
                </div>
                <!--                <div class="column is-flex is-justify-content-center is-align-items-center">-->
                <!--                    <div>-->
                <!--                        <a class="buttonA404 linkButtons" href="/">-->
                <!--                            <button class="allButtons animHoverbutton">Page d'accueil</button>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
{{ end }}
