{{ define "main" }}

<div id="home-part1" class="section columns">
    <div class="column is-three-fifths">
        <h1 class="title has-text-centered name-homepage">JAKOBOWSKI</h1>
        <h1 class="title has-text-centered name-homepage">Aymeric</h1>
        <br>
        <h2 class="subtitle has-text-centered status">Étudiant en informatique</h2>
    </div>
    <div id="home-flex" class="column">
        <a class="linkButtons" href="#home-part2"><button class="allButtons" id="projetctButton">Projets</button></a>
        <a class="linkButtons" href="#home-part3"><button class="allButtons" id="experienceButton">Parcours</button></a>
        <a class="linkButtons" href="#home-part4"><button class="allButtons" id="skillButton">Projets</button></a>
    </div>
</div>

<div id="home-part2" class="section">
    <h1 class="title has-text-centered is-1">Projets récents :</h1>
    <br>
    <div class="slider">
        <div class="slides">
            {{ range (where .Site.RegularPages "Type" "projets" | first 3) }}
            <div class="slide is-5by3">
                <figure class="is-5by3">
                    <img class="image_accueil" src="{{.Params.image}}" alt="">
                </figure>
                <h3 class="subtitle is-3 has-text-centered"><a href="{{.Permalink}}">{{.Title}}</a></h3>
                <h3 class="has-text-centered">{{ partial "widgets/categoriesTags" . }}</h3>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div id="home-part3" class="section">
    <h1 class="title has-text-centered is-1">Parcours</h1>
    <br>
    <ul>
        <li>
            <div>
                <time>2018 - 2021</time>
                <p>Lycée Val de Lys, Estaires (59940)</p>
                <p>Baccalauréat général</p>
                <p>
                    Spécialités : Mathématiques | SVT
                    Mention 'Bien'
                </p>
            </div>
        </li>

        <li>
            <div>
                <time>2021 - 202X</time>
                <p>IUT de Lens, Lens (62300)</p>
                <p>BUT Informatique [1ère année obtenue]</p>
                <p>
                    Parcours : 'parcours réalisation d'applications : conception, développement, validation'
                </p>
            </div>
        </li>
    </ul>
</div>

<div id="home-part4" class="section">
    <h1 class="title has-text-centered is-1">Compétences</h1>
    <br>
    <h2 class="subtitle has-text-centered is-5">Listes Compétences</h2>
</div>

<div id="home-part5" class="section">
    <h1 class="title has-text-centered is-1">Plus d'informations</h1>
    <br>
    <h2 class="subtitle has-text-centered is-5">AVEC FOOTER</h2>
</div>


{{ end }}