{{ define "main" }}


<div id="home-part1" class="section columns is-desktop">
    <div id="home-name" class="column is-three-fifths-desktop">
        <h1 class="title has-text-centered name-homepage is-family-title">JAKOBOWSKI<br>Aymeric</h1>
        <h2 class="subtitle is-size-5-mobile is-size-4-touch has-text-centered status">Développeur Django - Web - Python<br>Étudiant
            en informatique</h2>
        <hr style="margin: 3rem 20%;">
        <p class="is-size-5 has-text-centered">Actuellement en contrat d'apprentissage à l'<a
                href="https://www.univ-lille.fr/" target="_blank">Université de Lille</a></p>
    </div>
    <div id="home-flex" class="column">
        <a class="linkButtons" href="#home-part2">
            <button class="allButtons animHoverbutton">Projets</button>
        </a>
        <a class="linkButtons" href="#home-part3">
            <button class="allButtons animHoverbutton">Parcours</button>
        </a>
        <a class="linkButtons" href="#home-part4">
            <button class="allButtons animHoverbutton">Compétences</button>
        </a>
        <a class="linkButtons" href="#home-part5">
            <button class="allButtons animHoverbutton">En savoir plus</button>
        </a>
    </div>
</div>

<hr>

<div id="home-part2" class="section">
    <h2 class="title has-text-centered is-1">Projets récents</h2>
    <br>
    {{ partial "Accueil/sliderProjets" . }}
    <br>
    <span class="level-item">
        <a class="is-size-3 has-text-weight-bold" href="/projets">Plus de projets</a>
    </span>
</div>

<hr>

<div id="home-part3" class="section">
    <h2 class="title has-text-centered is-1">Parcours</h2>
    <br>
    {{ partial "Accueil/parcours" . }}
    <span class="level-item">
        <a class="is-size-3 has-text-weight-bold" href="/certifications">Certifications</a>
    </span>
</div>

<hr>

<div id="home-part4" class="section">
    <h2 class="title has-text-centered is-1">Compétences</h2>
    {{ partial "Accueil/competencesResume" . }}
    <br>
    <span class="level-item">
        <a class="is-size-3 has-text-weight-bold" href="/competences">En savoir plus</a>
    </span>
</div>

<hr>

<div id="home-part5" class="section">
    <h2 class="title has-text-centered is-1">En savoir plus</h2>
    <br>
    {{ partial "Accueil/savoirPlus" . }}
</div>


{{ end }}