{{ define "main"}}

<div class="container">
        
    <div class="tabs-container">
        <div class="tabs-button-container">
            <button data-content="1" class="tab-button active-tab">
                Langages
            </button>
            <button data-content="2" class="tab-button">
                IDE
            </button>
            <button data-content="3" class="tab-button">
                GPO
            </button>
            <button data-content="4" class="tab-button">
                Certifications
            </button>
        </div>

        <div data-content="1" class="tab-content active-content">
            {{ partial "Competences/langages" . }}
        </div>
        <div data-content="2" class="tab-content">
            {{ partial "Competences/ide" . }}
        </div>
        <div data-content="3" class="tab-content">
            {{ partial "Competences/gpo" . }}
        </div>
        <div data-content="4" class="tab-content">
            {{ partial "Competences/certifications" . }}
        </div>
    </div>
</div>


{{ end }}