<footer class="footer">
    <div class="container">
        <div class="columns has-text-centered">
            {{ range .Site.Menus.footer }}
            <div class="column is-narrow">
                <a href="{{ .URL | absLangURL }}" class="">{{ .Name }}</a>
            </div>
            {{ end }}
        </div>
        
        <div class="columns has-text-centered">
            {{ range $.Site.Home.AllTranslations }}
            <div class="column is-narrow">
                <a href="{{ .Permalink }}" title="{{ .Name }}">
                    {{ .Language.LanguageName }}
                </a>
            </div>
            {{ end }}
        </div>
        
        {{ if eq .Language.LanguageName "Français" }}
        <div class="columns has-text-centered">
            <div class="column is-narrow">
                <a class="js-modal-trigger" data-target="mon-cv">
                    Mon CV
                </a>
            </div>
        </div>
        
        <div class="has-text-centered">
            <p>Copyright © 2022 | Tous droits réservés</p>
            <p>Site hébergé sur GitHub</p>
        </div>
        {{ else }}
        <div class="columns has-text-centered">
            <div class="column is-narrow">
                <a class="js-modal-trigger" data-target="mon-cv">
                    My resume
                </a>
            </div>
        </div>
        
        <div class="has-text-centered">
            <p>Copyright © 2022 | All rights reserved</p>
            <p>Site hosted on GitHub</p>
        </div>
        {{ end }}

        <div id="mon-cv" class="modal">
            <div class="modal-background"></div>
            
            <div class="modal-content">
                <p class="image">
                    <img src="/images/a-propos-de/CV-JAKOBOWSKI-Aymeric.svg" alt="CV">
                </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
            
            
            <a class="has-text-white" href="/CV-JAKOBOWSKI-Aymeric.pdf" download="CV_JAKOBOWSKI_Aymeric.pdf">
                <button class="modal-content button is-link">
                    Télécharger au format .pdf
                </button>
            </a>
        </div>
    </div>
</footer>
<script src="{{"js/modal.js" | relURL}}"></script>
<script src="{{"js/skill-menu.js" | relURL}}"></script>