<nav class="level">

    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Scrum</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <h2 class="title">AGILITY</h2>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Kanban</p>
        </div>
    </div>

</nav>

<hr>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/poing.png" alt="">
            </figure>
            <br>
            <p class="heading">Autonomy</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/engrenages.png" alt="">
            </figure>
            <br>
            <p class="heading">Adaptability</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <figure class="image is-128x128">
                <img src="/images/competences/SoftSkills/loupe.png" alt="">
            </figure>
            <br>
            <p class="heading">Curiosity</p>
        </div>
    </div>
</nav>
