<nav class="level">
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Scrum</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="title">AGILE</p>
        </div>
    </div>
    
    <div class="level-item has-text-centered">
        <div>
            <p class="subtitle">Kanban</p>
        </div>
    </div>
    
</nav>

<hr>

<ul class="subtitle is-4">
    <li><i class="fas fa-puzzle-piece"></i>&ensp;Autonomy</li>
    <li><i class="fas fa-cogs"></i>&ensp;Adaptability</li>
    <li><i class="fas fa-search"></i>&ensp;Curiosity</li>
</ul>
