@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*::selection{
	background-color: #ccc5b99c;
}
html {
	scroll-behavior: smooth;
}

html,.navbar{
	background-color: #fffcf2;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
	background: #ccc5b9;
}

.navbar{
	border-bottom: solid 2px black;
}

.footer {
	background-color: #f4f2eb;
	border-top: 2px solid black;
	padding: 3rem 1.5rem 3.2rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#home-part1 {
	min-height: calc(100vh - 63px) !important;
}

.name-homepage{
	font-size: clamp(50px,12vw,110px);
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(90deg,#016FB9,#519acb);
	color: transparent;
}

.status{
	margin-top: 10vh;
	font-size: clamp(18px,5vw,30px);
}

#home-flex{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

#home-flex a{
	color: black;
	font-weight: bold;
}

.linkButtons {
	transition: ease-in-out;
}

.allButtons {
	width: 100%;
	height: 100%;
	padding: 20px 44px;
	cursor: pointer; 
	overflow: hidden;
	background: none;
	font-size: large;
	border-radius: 4px;
	position: relative;
	transition: all 0.4s;
	
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: clamp(18px,1vw,29px);
	font-weight: 600;
}

#projetctButton, #experienceButton, #skillButton {
	border: solid 5px #016fb9;
	color: #016fb9;
}

#projetctButton:hover, #experienceButton:hover, #skillButton:hover {
	color: white;
}

#projetctButton::before, #experienceButton::before, #skillButton::before {
	content: '';
	position: absolute; 
	background-color: #016fb9;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: ease-out 0.25s;
	/* border-radius: 45%; */
	transform: scale(0);
}

#projetctButton:hover::before, #experienceButton:hover::before, #skillButton:hover::before {
	transform: scale(1.5);
}


#home-part2, #home-part3, #home-part4 {
	min-height: 100vh;
}

#home-part3 ul {
	padding: 50px 0;
}

#home-part3 ul li {
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #403d39;
}

#home-part3 ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	z-index: 1;
}

#home-part3 ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #016FB9;
}

#home-part3 ul li div::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

#home-part3 ul li:nth-child(odd) div {
	left: 45px;
}

#home-part3 ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #016FB9 transparent transparent;
}

#home-part3 ul li:nth-child(even) div {
	left: -439px;
}

#home-part3 ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #016FB9;
}

time {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 13px;
	color: white;
}

#home-part3 > ul > li > div > p {
	margin-bottom: 7px;
	color: white;
}

@media screen and (max-width: 900px) {
	#home-part3 ul li div {
		width: 250px;
	}
	#home-part3 ul li:nth-child(even) div {
		left: -289px;
		/*250+45-6*/
	}
}

@media screen and (max-width: 600px) {
	#home-part3 ul li {
		margin-left: 20px;
	}
	#home-part3 ul li div {
		width: calc(100vw - 110px);
	}
	#home-part3 ul li:nth-child(even) div {
		left: 45px;
	}
	#home-part3 ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #f45b69 transparent transparent;
	}
}

/* skills */
.allSkills {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 75vh;
}
.skill-box {
	width: 65vw; 
	background-color: #ddd; 
}

.skills {
	text-align: right;
	padding: 15px 0;
	color: white;
}

.html {width: 85%; background-color: #016fb9;} 
.css {width: 80%; background-color: #016fb9;} 
.js {width: 25%; background-color: #016fb9;} 
.sql {width: 70%; background-color: #016fb9;} 
.java {width: 60%; background-color: #016fb9;} 
.python {width: 55%; background-color: #016fb9;}
.git {width: 30%; background-color: #016fb9;} 



#home-part5 {
	height: calc(100vh - 168px);
}

h1{
	font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-item img {
	max-height: 2.75rem;
}

span.logo{
	margin: 10px;
}

main {
	flex: 1;
}

#image_profil {
	width: 10em;
}

.ligne {
	background-color: rgb(56, 56, 56);
	height: 3px;
	width: 86%;
	text-align: center;
	margin: 5% auto;
}

.slider {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	width: calc(800px *3);
	animation: glisse 25s infinite;
}

.slide {
	float: left;
}



@keyframes glisse {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(0);
	}
	
	33% {
		transform: translateX(-800px);
	}
	58% {
		transform: translateX(-800px);
	}
	
	66% {
		transform: translateX(-1600px);
	}
	91%{
		transform: translateX(-1600px);
	}
	100% {
		transform: translateX(0);
	}
}

@media screen and (max-width: 835px) {
	.image_accueil {
		width: 400px;
	}
	
	.slider {
		width: 400px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.slides {
		width: calc(400px *3);
		animation: glisse 25s infinite;
	}
	
	.slide {
		float: left;
	}
	
	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(0);
		}
		
		33% {
			transform: translateX(-400px);
		}
		58% {
			transform: translateX(-400px);
		}
		
		66% {
			transform: translateX(-800px);
		}
		91%{
			transform: translateX(-800px);
		}
		100% {
			transform: translateX(0);
		}
	}
}

.workInProgImg {
	display: block;
	width: 25vw;
	margin: auto;
	text-align: center;
}