@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#home-part1 {
	height: calc(100vh - 63px) !important;
}

#home-part2 {
	height: 100vh;
}

h1{
	font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-item img {
    max-height: 2.75rem;
}

span.logo{
	margin: 10px;
}

main {
	flex: 1;
}

#image_profil {
	width: 10em;
}

.ligne {
	background-color: rgb(56, 56, 56);
	height: 3px;
	width: 86%;
	text-align: center;
	margin: 5% auto;
}

.slider {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	width: calc(800px *3);
	animation: glisse 25s infinite;
}

.slide {
	float: left;
}



@keyframes glisse {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(0);
	}

	33% {
		transform: translateX(-800px);
	}
	58% {
		transform: translateX(-800px);
	}

	66% {
		transform: translateX(-1600px);
	}
	91%{
		transform: translateX(-1600px);
	}
	100% {
		transform: translateX(0);
	}
}

@media screen and (max-width: 835px) {
	.image_accueil {
		width: 400px;
	}
	
	.slider {
		width: 400px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.slides {
		width: calc(400px *3);
		animation: glisse 25s infinite;
	}
	
	.slide {
		float: left;
	}
	
	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(0);
		}
	
		33% {
			transform: translateX(-400px);
		}
		58% {
			transform: translateX(-400px);
		}
	
		66% {
			transform: translateX(-800px);
		}
		91%{
			transform: translateX(-800px);
		}
		100% {
			transform: translateX(0);
		}
	}
}