body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;	
}

#image_profil {
	width: 10em;
}

.entete {
	background-color: aliceblue;
}

.ligne {
	background-color: black;
	height: 5px;
	width: 88%;
	text-align: center;
	margin: 5% auto;
}