<div class="card mx-auto mt-5" style="width: 50%;">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/images/competences/Certifications/Pix_Icon.png" alt="logo pix">
                </figure>
            </div>
            <div class="media-content">
                <a href="https://pix.fr/" target="_blank" rel="noopener noreferrer"><p class="title is-4">PIX Certification ⤴</p></a>
            </div>
        </div>
        
        <div class="content">
            <p>Issued on June 2022 - No expiry date</p>
            <p>Certification identifier <b><i>P-XXWGY228</i></b></p>
        </div>
    </div>
    
    <footer class="card-footer">
        <a href="/certifications/certification_Pix.pdf" target="_blank" class="card-footer-item">Show</a>
        <a href="https://app.pix.fr/verification-certificat" target="_blank" rel="noopener noreferrer" class="card-footer-item">Verify</a>
    </footer>
</div>
