<div class="card">
    <div class="card-image">
        <figure class="image is-5by3">
            <a href="{{ .Permalink }}"><img src="{{.Params.image}}" alt="Image du projet"></a>
        </figure>        
    </div>

    <div class="card-content">
        <h4 class="title has-text-centered is-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

        <div class="content has-text-justified">
            {{.Params.description}}
        </div>
        
        <div class="content has-text-right">
            {{ .Site.Params.Author }} <br> {{ .PublishDate.Format "2 January, 2006"}}
        </div>
        
        <div class="content has-text-right">
            {{ partial "widgets/english/categoriesTagsEnglish" . }}
        </div>
    </div>
</div>

















