{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title">{{.Title}}</h1>
        </div>

        <div class="content">
            {{.Content}}
        </div>

        <div class="columns">
            <div class="column is-7">
                <div class="message is-info">
                    <div class="message-header">
                        <p>Brève présentation</p>
                    </div>
                    <div class="message-body">
                        <p>JAKOBOWSKI Aymeric | 18 ans</p> 
                        <p>Actuellement étudiant en Informatique à l'IUT de Lens.</p>
                        <p><b>Qualités : </b>Rigueur, autonomie, ponctualité</p>
                        <p><b>Défauts : </b>Rancunier, introverti</p>
                    </div>
                </div>        
            </div>
        </div>
        <br>
        <div class="columns is-vcentered">
            <div class="column is-5">
                <img class="is-3by4" src="/images/a-propos-de/Parcours_scolaire.svg" alt="IMAGE PARCOURS SCOLAIRE">
            </div>

            <div class="column is-7">
                <div class="message is-info">
                    <div class="message-header">
                        <p>Mon parcours scolaire</p>
                    </div>
                    <div class="message-body">
                        Voici ci-contre mon parcours scolaire.
                    </div>
                </div>        
            </div>
        </div>
        <br>
        <div class="columns">
            <div class="column is-7">
                <div class="message is-info">
                    <div class="message-header">
                        <p>Compétences techniques</p>
                    </div>
                    <div class="message-body">
                        SQL - HTML/CSS - JAVA - Git - 
                    </div>
                </div>        
            </div>
        </div>
        <hr>
        <article class="panel is-info">
            <p class="panel-heading">JAKOBOWSKI Aymeric</p>
            <p class="panel-tabs">
                <a class="is-active">Documents</a>
            </p>
            
            <a class="panel-block is-active js-modal-trigger" data-target="mon-cv">
                <span class="panel-icon">
                    <i class='fas fa-file'></i>
                </span>
                Mon CV
            </a>
        </article>


        <div id="mon-cv" class="modal">
            <div class="modal-background"></div>
            
            <div class="modal-content">
                <p class="image">
                    <img src="/images/a-propos-de/CV_version_2.svg" alt="CV">
                </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
            
            
            <a class="has-text-white" href="/CV_version_2.pdf" download="CV_JAKOBOWSKI_Aymeric.pdf">
                <button class="modal-content button is-link">
                    Télécharger au format .pdf
                </button>
            </a>
        </div>

    </div>
</div>

{{end}}
