{{ define "main" }}
<div class="container">
    <div class="section">
        
        <div class="content">
            <h1 class="title has-text-centered is-3">{{.Title}}</h1>
            <div class="columns">
                <div class="column">
                    <figure class="image is-5by3">
                        <img src="{{.Params.image}}">
                    </figure>
                </div>

                <div class="column entete">
                    <div class="columns">
                        <div class="column has-text-centered">
                            {{ with .Site.Params.authorImage }}
                            <img id="image_profil" src="{{ . }}" />
                            {{ end }}
                        </div>
                        <div class="column">
                            <h3 class="has-text-centered">{{ .Site.Params.Author }}</h3>
                            <br>
                            <p class="has-text-centered">
                                Date : <b>{{ .PublishDate.Format "2 January, 2006" }}</b>
                            </p>
                            <p class="has-text-centered">
                                Temps de lecture : <b>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} Minute {{ else }} Minutes {{ end }}</b>
                            </p>
                        </div>
                    </div>
                    <hr class="ligne">

                    <div class="content has-text-centered">
                        <p>Catégories du projet : </p>
                        {{ range $index, $.Params.categories }}
                            <span class="tag is-primary is-medium">
                                <a href="{{ "categories/" | relURL }}{{ $index | urlize }}">
                                    {{ $index }}
                                </a>
                            </span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            {{.Content}}
        </div>
    </div>
</div>
{{ end }}