<article class="message is-info">
    <div class="message-header">
        <h3>Écrit par : {{ .Site.Params.Author }}</h3>
    </div>
    <div class="message-body has-text-centered">
        <p>
            <b>Date : </b>{{ .PublishDate.Format "2 January, 2006" }}
            <br>
            <b>Temps de lecture : </b>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} Minute {{ else }} Minutes {{ end }}
        </p>
        <hr class="ligne">
        <p class="has-text-justified">
            <b>Description : </b>{{.Params.description}}
        </p>
        <hr class="ligne">
        <p><b>Catégories du projet : </b></p>
        {{ partial "widgets/categoriesTags" . }}
    </div>
</article>