<div class="card">
    <div class="card-image">
        <figure class="image is-5by3">
            <a href="{{ .Permalink }}"><img src="{{.Params.image}}" alt="{{ .Params.imageAlt }}"></a>
        </figure>        
    </div>

    <div class="card-content">
        <h2 class="title has-text-centered is-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

        <div class="content has-text-justified">
            {{.Params.description}}
        </div>
        
        <div class="content has-text-right">
            {{ .PublishDate.Format "02/01/2006" }}
        </div>
        
        <div class="content has-text-right">
            {{ partial "widgets/categoriesTags" . }}
        </div>
    </div>
</div>

















