<div class="allSkills">
    <div class="skill-box">
        <div class="skills html">HTML - 85%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills css">CSS - 80%</div>
    </div>

    <div class="skill-box">
        <div class="skills php">PHP - 50%</div>
    </div>

    <div class="skill-box">
        <div class="skills python">Python - 75%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills postgres">SQL | PostgreSQL - 70%</div>
    </div>
    
    <div class="skill-box">
        <div class="skills java">Java - 60%</div>
    </div>
</div>