<div class="has-text-centered">
    <i class='fas fa-envelope-open'></i> 
    <p id="mail">Aymerictravail129@gmail.com</p>
    <button id="copyMailButton" class="button" onclick="copyObject('copyMailButton', 'mail')">Copier</button>
    <a href="mailto:aymerictravail129@gmail.com"><button id="sendMail" class="button">Envoyer un email</button></a>
</div>
<br>
<div class="has-text-centered">
    <i class='fas fa-mobile-alt'></i> 
    <p id="phoneNumber">07 82 95 87 24</p>
    <button id="copyPhoneButton" class="button" onclick="copyObject('copyPhoneButton', 'phoneNumber')">Copier</button>
</div>

<script>
    function copyObject(idButtonString, idTextString) {
        let elemButton = document.getElementById(idButtonString);
        let elemText = document.getElementById(idTextString).textContent.toLowerCase();

        navigator.clipboard.writeText(elemText);
        elemButton.innerHTML = 'Copié !';
        setTimeout(() => {
            elemButton.innerHTML = 'Copier';
        }, 1150);
    }
</script>