<ul>
    <li>
        <div>
            <time>2021 - 202X</time>
            <p>IUT de Lens, Lens (62300)</p>
            <p><a class="has-text-white" href="https://www.onisep.fr/Ressources/Univers-Formation/Formations/Post-bac/but-informatique" target="_blank"><u>BUT Informatique</u></a> [1ère année obtenue]</p>
            <p>
                Parcours : 'parcours réalisation d'applications : conception, développement, validation'
            </p>
        </div>
    </li>

    <li>
        <div>
            <time>2018 - 2021</time>
            <p>Lycée Val de Lys, Estaires (59940)</p>
            <p>Baccalauréat général</p>
            <p>
                Spécialités : Mathématiques | SVT
                Mention 'Bien'
            </p>
        </div>
    </li>

</ul>
