<ul>
    <li>
        <div>
            <time>2021 - 202X</time>
            <p>IUT de Lens, Lens (62300)</p>
            <p>Three-year University degree in IT [1st year obtained]</p>
            <p>
                Course : 'Application development : conception, development, validation'
            </p>
        </div>
    </li>

    <li>
        <div>
            <time>2018 - 2021</time>
            <p>Val de Lys high school, Estaires (59940)</p>
            <p>High school diploma</p>
            <p>
                Specialities : Maths | Life Science
                Distinctions : 'Good'
            </p>
        </div>
    </li>

</ul>
